@charset "utf-8";
/* CSS Document */
body{background:#f2f2f2; margin:0px; padding:0px;}

.wrap{width:100%;height:auto; text-align:center; font:21px Verdana,"\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif; margin:0px auto; line-height:25px;}
.wrap img, a, p, h4{ border:none; margin:0px; padding:0px;}



/* download */
.wrap h4.title{font:22px "\5FAE\8F6F\96C5\9ED1",Verdana, Arial, Helvetica, sans-serif; display:block; border-bottom:1px solid #acacac; line-height:48px; background:#fff;}

.wrap div.nbb{border:0px;}

.wrap .row{display:-webkit-box; border-bottom:1px solid #cfcfcf;margin:25px 0px; padding-bottom:15px;}
.wrap .pic{display:block; -webkit-box-flex:1; padding-left:55px;}
.wrap .pic .product{display:block;border:0;width:90px;}
.wrap .menubox{display:-webkit-box;-webkit-box-flex:1;-webkit-box-orient:vertical;padding:0px 20px 20px 0px;  text-align:left; }
.wrap .menubox p{width:auto;font-size:18px; line-height:28px;padding:0px 0px 5px 5px;}
.wrap .menubox .btn{width:100px;border:0px;}
.wrap .menubox>div:nth-child(1){display:block;-webkit-box-flex:1;}
.wrap .menubox>div:nth-child(2){display:block;}

.wrap p{color:#555;}
.wrap p.copy{ margin:3% 0px; font-size:12px; color:#999; line-height:24px; }