@charset "utf-8";
/* CSS Document */
* {padding:0;margin:0;border:0;color:#555;}
body {font:12px arial,"\5FAE\8F6F\96C5\9ED1",sans-serif;background:#fff; margin:0px auto;color:#555; line-height:24px;}
body a{text-decoration:none;color:#666666;text-decoration:none;}
body a:hover {text-decoration:none;}
ul,li,dl,dt,dd {list-style:none; margin:0px; padding:0px;}

h3{ font:30px "\5FAE\8F6F\96C5\9ED1"; color:#000; display:block; text-align:left; margin-bottom:10px;}
.f20{ font:20px "\5FAE\8F6F\96C5\9ED1"; color:#555;}
.f32{font-size:32px; color:#000;}
.f130{font:130px Verdana, Arial, Helvetica, sans-serif; color:#ff3a3a; font-weight:normal;}

/* header */
.header{width:100%;height:92px;/* border-bottom:1px solid #999;*/}
.hd_box{width:990px;height:92px;margin:0px auto;}
.header .logs{width:400px;height:71px; padding:13px 0px 0px 24px; float:left;}
.header .logs a.logo{width:69px;height:71px; background:url(../images/logo.jpg) no-repeat; display:block; float:left;}
.header .logs h1{width:300px;height:28px; float:left; font:24px arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; font-weight:normal; padding:25px 0px 0px 15px; display:block;}
.header .nav{width:200px;height:50px; float:left; margin:43px 0px 0px 300px;}
.header .nav ul{width:220px;height:50px; display:block; overflow:hidden;}
.header .nav ul li{width:95px;height:50px; float:left; display:block; line-height:24px; font-size:15px; text-align:center; margin-right:15px;}
.header .nav ul li a{width:95px;height:50px; display:block;}
.header .nav ul li a:hover{width:95px;height:45px; border-bottom:5px solid #32343b;}
.header .nav ul li a.hov{width:95px;height:45px; border-bottom:5px solid #32343b;}


/* banner */
.banner{width:100%;height:633px; margin:0px auto; background:#fef4eb url(../images/ban_bdg.jpg) center no-repeat; overflow:hidden;}
.banner div.ban, .banners div.ban{width:990px;height:633px;margin:0px auto; overflow:hidden; text-align:center;}

.ewm{width:140px;height:140px; margin:305px 0px 0px 95px; padding-right:191px;}
.ewm img{width:140px;height:140px;}

.banners{width:100%;height:633px; margin:0px auto; background:url(../images/ban_bdg_shop.jpg) center no-repeat; overflow:hidden;}


.flo_r{width:80px;height:347px; position:fixed;top:0px;margin-top:230px;right:0px; margin-right:150px; background:url(../images/flo_r.jpg) no-repeat;}

/* wrap,content */
.wraps{width:100%;margin:0px auto;text-align:center;}
.wrap{width:990px;height:auto;margin:10px auto;text-align:center; overflow:hidden;}
.row{height:632px;overflow:hidden;}

/* admin */
.rbgo{background:url(../images/bdg_01.jpg) no-repeat center;}
.rbgt{background:url(../images/bdg_02.jpg) no-repeat center; }
.rbgth{background:url(../images/bdg_03.jpg) no-repeat center;}
.rbgfo{background:url(../images/bdg_04.jpg) no-repeat center;}

/* shop */
.rbgos{background:url(../images/bdg_shop_01.jpg) no-repeat center;}
.rbgts{background:url(../images/bdg_shop_02.jpg) no-repeat center; }
.rbgths{background:url(../images/bdg_shop_03.jpg) no-repeat center;}
.rbgfos{background:url(../images/bdg_shop_04.jpg) no-repeat center;}



 /* foot */
.footer{width:100%;height:138px; margin:0px auto; background:#f5f5f5; text-align:center; padding:100px 0px 0px;font-size:12px; border-top:1px solid #e7e7e7;}

/* 回到顶部 */
 #returnTop {
	_display:none;
	position:fixed;
	_position:absolute;
	z-index:999;
	right:15px;
	bottom:-200px;
	_bottom:auto;
	width:50px;
	height:50px;
	text-indent:-999px;
	overflow:hidden;
	background-image:url(../images/Top.png);
	_background-image:url(../images/Top.png);
	background-repeat:no-repeat;
	background-position:0 0;
	transition:bottom 0.9s;
	-webkit-transition:bottom 0.9s;
	-moz-transition:bottom 0.9s;
	-o-transition:bottom 0.9s;
}
#returnTop:hover {
	background-position:0 -50px;
}
